packaging
requests[security]
# TODO check the current versions and if we can upgrade to them
# TODO check, which libraries we really need
# azure-cli-core==2.11.1
# azure-common==1.1.11
# msrest==0.6.21
# msrestazure==0.6.4
# azure-mgmt-resource==10.2.0
